section{
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    place-content: center;
}
@media only screen and (max-width: 900px) {
    section{
        margin-bottom: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
