article{
    /* margin-top: 100px; */
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: #fff; */
}
.containerCard .card{
    position: relative;
    /* cursor: pointer; */
}

.containerCard .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containerCard .card .face.face1{
    position: relative;
    background: var(--darkblue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateY(100px);
}

.containerCard .card:hover .face.face1{
    background: var(--lightblue);
    transform: translateY(0);
}

.containerCard .card .face.face1 .content{
    transition: 0.5s;
    position: relative;
}

.containerCard .card .face.face2{
    position: relative;
    background: var(--pink);
    color: var(--darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    transform: translateY(-100px);
    border-radius: 5px;
    text-align: left;
    letter-spacing: 0px;
}

.containerCard .card:hover .face.face2{
    transform: translateY(0);
}

.containerCard .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.cardMinMax{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.cardName{
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
}
.btnClose{
    border: none;
    outline: none;
    background: none;
    color: var(--pink);
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}
p span{
    font-weight: 600;
}

@media only screen and (max-width: 900px) {
    .containerCard .card .face{
        width: 270px;
    }
    .containerCard .card:hover .face.face1{
        background-color: var(--darkblue);
    }

}
